<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>后台管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<!--导航栏-->
<nav th:replace="admin/_fragments :: menu" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
                        <span th:text="${session.user.uName}">姚恒峰</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--二级导航-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <a href="#" class="active teal item">推文列表</a>
        <a href="#" class="teal item">用户列表</a>
    </div>

</div>
<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <table class="ui celled table">
            <thead>
            <tr>
                <th></th>
                <th>标题</th>
                <th>内容简介</th>
                <th>浏览次数</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tweet:${pageInfo.list}">
                <td th:text="${tweet.id}">1</td>
                <td th:text="${tweet.title}">刻意练习清单</td>
                <td th:text="${tweet.context}">认知升级</td>
                <td th:text="${tweet.number}">1224</td>
                <td th:text="${tweet.creatTime}">2019-10-11 09:41</td>
                <td th:text="${tweet.updateTime}">2019-10-11 09:45</td>
                <td>
                    <a href="#" th:href="@{/push}" class="ui mini teal basic button">推送</a>
                    <a href="#" class="ui mini red basic button">详情</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="7">
                    <div class="ui pagination menu">
                        <!--<a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>-->
                        <a class="item">上一页</a>
                        <a class="item">下一页</a>
                    </div>
                    <a href="#" class="ui mini right floated teal basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<!--底部-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright@2016-2017yaohengfeng</p>
    </div>
</footer>
    <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->

<script>
    //注销
    $('.ui.dropdown').dropdown({
        on:'hover'
    });
</script>
</body>
</html>
