<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhf.springboot.dao.IUserDao">
    <resultMap id="userMap" type="User">
        <id column="user_id" property="uid"/>
        <result column="user_name" property="uName"/>
        <result column="user_password" property="uPassword"/>
    </resultMap>
    <select id="listUser" resultMap="userMap">
        select * from tbl_user
    </select>

    <select id="loginUser" parameterType="String" resultMap="userMap"  >
        select * from tbl_user where user_name=#{uName } and user_password=#{uPassword}
    </select>

    <insert id="saveUser" parameterType="User">
        insert into tbl_user(user_name,user_password) values (#{uName},#{uPassword})
    </insert>
</mapper>